/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text.
   https://github.com/Godiesc/firefox-one */

@media (prefers-color-scheme: dark){:root{ scrollbar-color: #38375580 #18173530 !important; }}      /*Color de la barra de desplazamiento*/
@media(prefers-color-scheme: light){:root{ scrollbar-color: #d8d9da #f4f2f7!important; }}           /*Color de la barra de desplazamiento*/

/**{ scrollbar-width: thin !important}*/                                                            /*Barra de desplazamiento delgada*/

.alt-stop { stop-color: var(--left-color) !important; }                                             /* left color logo-and-wordmark */
.main-stop { stop-color: var(--right-color) !important; }                                           /* right color logo-and wordmark*/

@-moz-document url(chrome://browser/content/browser.xul), url(about:newtab), url(about:home), url(about:privatebrowsing) {
   
    @media (prefers-color-scheme: dark){
        body {
            background: url("../images/newtab/minimalImmage.png") no-repeat center center !important;
            background-size: cover !important;
        }
    }
}

@-moz-document url(about:newtab), url(about:home) {
    .search-wrapper {
        display: none !important;
    }
}